name: Minsk-Apartments-Bot

on:
  push:
    branches:
      - master

jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

  deploy-cloud:
    runs-on: ubuntu-latest
    needs: [checkout]
    steps:
      - deploy: Deploy to GCloud
        run:
          docker build -t smirnoveug/minsk-apartments-bot .
          docker image push smirnoveug/minsk-apartments-bot:latest