name: Minsk-Apartments-Bot

on:
  push:
    branches:
      - master

env:
  IMAGE_NAME: smirnoveug/minsk-apartments-bot
  
jobs:

  deploy:

      name: Setup Gcloud Account
      runs-on: ubuntu-latest
      env:
        IMAGE_NAME: smirnoveug/minsk-apartments-bot
      steps:

      - name: Login
        uses: google-github-actions/setup-gcloud@v0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          service_account_email: ${{ secrets.GCP_EMAIL }}
          service_account_key: ${{ secrets.GCP_CREDENTIALS }}

      - name: Configure Docker
        run: gcloud auth configure-docker --quiet | docker login -u "smirnoveug" --password-stdin

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build . -t $IMAGE_NAME

      - name: Push Docker image
        run: docker push $IMAGE_NAME

      - name: Deploy Docker image
        run: gcloud run deploy ${{ secrets.GCP_PROJECT_ID }} --image $IMAGE_NAME --region europe-central2 --platform managed
